altair
attrs
beautifulsoup4
blinker
cachetools
certifi
chardet
charset-normalizer
click
colorama
cycler
DadosAbertosBrasil
distro
et-xmlfile
fonttools
gitdb
GitPython
greenlet
idna
isodate
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
openpyxl
packaging
pandas
pillow
protobuf
pyarrow
pydeck
Pygments
pyparsing
PyPDF2
python-dateutil
pytz
rdflib
referencing
reportlab
requests
rich
rpds-py
scikit-learn
scipy
six
smmap
soupsieve
SQLAlchemy
streamlit
tabula-py
tenacity
threadpoolctl
toml
toolz
tornado
typing_extensions
Unidecode
urllib3
watchdog
wget
